/*****************************************************************************/
/*
/* Reset
/*
/*****************************************************************************/


* {
  margin: 0;
  padding: 0;
}

html {
  height: auto;
}

body {
  height: auto;
  background-color: #FFF;
  font: 13.34px Helvetica, Arial, sans-serif;
  font-size: small;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
}

h1 {
  margin-bottom: 1em;
}

p {
  margin: 1em 0;
}

a {
  color: #00a;
  &:hover {
    color: #000;
  }
  &:visited {
    color: #a0a;
  }
}

table {
  font-size: inherit;
  font: 100%;
}
