/*****************************************************************************/
/*
/* Sidebar
/*
/*****************************************************************************/

aside {
  padding-top: 3em;
  @include span-columns(3);
}
.name a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}
