/*****************************************************************************/
/*
/* Sidebar
/*
/*****************************************************************************/

aside {
  padding-top: 3em;
  @include span-columns(3);
  @include media(max-width 720px) {
    @include span-columns(12);
    padding-top: 45px;
    .sidebar {
      position: relative;
    }
    .scrollTop {
      display: none;
    }
  }
}
.sidebar {
  position: fixed;
}
.name a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}
