/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

body {
   font-family: Helvetica, Arial, "Lucida Grande", sans-serif;
   font-weight: 300;
   font-size: 14px;
   @include media(max-width 480px) {
    text-align: center;
    font-size: 1.25em;
  }
}
a {
  color: black;
  &:hover {
    color: red;
  }
}
ul {
  padding: 0;
  li {
    list-style: none;
    margin: 0 0 .5em 0;
  }
}
hr {
  border: 2px solid red;
  margin: 3em auto;
  width: 20%;
}
.container {
  @include outer-container;
  @include media(min-width 481px max-width 960px) {
    padding: 0 2em;
  }
}
.content {
  @include span-columns(9);
  @include media(max-width 720px) {
    padding: 0 2em;
    @include span-columns(12);
  }
}
