<header class="header">
  <figure class="header__logo">
    <span class="logo"></span>
  </figure>

  <div class="header__self">
    <h1 class="header__name">
      Jorge Colindres
    </h1>

    <h2 class="header__desc">
      Developer / Designer
    </h2>

    <h3 class="header__desc">
      Software Engineer, <a href="https://kontor.com/">KONTOR</a>
    </h3>
  </div>
</header>

<main class="main">
  <section class="contact">
    <h4 class="section-title">Contact</h4>

    <ul class="contact__list section-list">
      <li>
        <a href="mailto:{{owner.email}}"
           data-contact-link="email">Email</a>
      </li>

      <li>
        <a href="http://github.com/{{owner.github.name}}"
           data-contact-link="github">Github</a>
      </li>

      <li>
        <a href="http://twitter.com/{{owner.twitter.handle}}"
           data-contact-link="twitter">Twitter</a>
      </li>
    </ul>
  </section>

  <section class="writings">
    <h4 class="section-title">Writing</h4>

    <ul class="writings__list section-list">
      {{#each works}}
        {{> writing-item}}
      {{/each}}
    </ul>
    </section>
  </main>
