<div class="container">
  <div class="content">
  here be content
  </div>
</div>
<footer>
  <div class="container">
    <section class="contact">
      <div class="contact-text">
        <aside>
          <h4>About</h4>
        </aside>
        <p>
          Jorge Colindres is a 24 year old web developer and designer
          living and working as a developer in New York, NY for SchoolKeep
           &mdash; previously for Condé Nast at the New Yorker. This website
          documents a selection of his design work, software projects, and
          creative writing. If you would like to collaborate on a project,
          please get in touch.
        </p>
      </div>
      <div class="contact-links">
        <aside>
          <h4>Contact</h4>
        </aside>
        <div class="links">
          <ul>
            <li><a href="mailto:{{ site.author.email }}" data-contact-link="email">Email</a></li>
            <li><a href="http://github.com/{{ site.author.github }}" data-contact-link="github">Github</a></li>
            <li><a href="http://twitter.com/{{ site.author.twitter }}" data-contact-link="twitter">Twitter</a></li>
          </ul>
        </div>
      </div>
    </section>
  </div>
</footer>
