<section class="title">
  <div class="name">
    <h1>
      Jorge is a developer and designer living and working in New York, NY.
    </h1>
  </div>
</section>
</header>
<section class="work">
  <div class="design">
    <aside>
      <h4>Design</h4>
    </aside>
    <div class="work-links" data-work-type="design">
      <ul>
        {{#each works}}
          {{#each design}}
            {{> design-item}}
          {{/each}}
        {{/each}}
      </ul>
    </div>
  </div>
  <div class="projects">
    <aside>
      <h4>Projects</h4>
    </aside>
    <div class="work-links" data-work-type="code">
      <ul>
        {{#each works}}
          {{#each code}}
            {{> code-item}}
          {{/each}}
        {{/each}}
      </ul>
    </div>
  </div>
  <div class="writing">
    <aside>
      <h4>Writing</h4>
    </aside>
    <div class="work-links" data-work-type="writing">
      <ul>
        {{#each works}}
          {{#each writing}}
            {{> writing-item}}
          {{/each}}
        {{/each}}
      </ul>
    </div>
  </div>
</section>
