/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.container {
  @include outer-container;
  padding: 0 2em;
  @include media(min-width 481px max-width 960px) {
    padding: 0 2em;
  }
  @include media(max-width 480px) {
    padding: 0 15px;
  }
}
.content {
  @include span-columns(12);
}
