<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }}</title>
    <link rel="shortcut icon" href="/assets/favicon.ico" />
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="/assets/css/main.min.css">

    <!-- Mixpanel -->
    <script src="/assets/js/mixpanel.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="content">
      {{ content }}
      </div>
    </div>
    {% unless page.section == "writing" %}
    <footer>
      <div class="container">
        <section class="contact">
          <div class="contact-text">
            <aside>
              <h4>About</h4>
            </aside>
            <p>
              Jorge Colindres is a 24 year old web developer and designer
              living and working as a developer in New York, NY for SchoolKeep
               &mdash; previously for Condé Nast at the New Yorker. This website
              documents a selection of his design work, software projects, and
              creative writing. If you would like to collaborate on a project,
              please get in touch.
            </p>
          </div>
          <div class="contact-links">
            <aside>
              <h4>Contact</h4>
            </aside>
            <div class="links">
              <ul>
                <li><a href="mailto:{{ site.author.email }}" data-contact-link="email">Email</a></li>
                <li><a href="http://github.com/{{ site.author.github }}" data-contact-link="github">Github</a></li>
                <li><a href="http://twitter.com/{{ site.author.twitter }}" data-contact-link="twitter">Twitter</a></li>
              </ul>
            </div>
          </div>
        </section>
      </div>
    </footer>
    {% endunless %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script>
      !window.jQuery ? document.write('<script src="/assets/js/jquery.min.js"><\/script>') : document.write('<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"><\/script>')
    </script>
    <script src="/assets/js/main.min.js"></script>
  </body>
</html>
