<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href="/css/main.css">

  </head>
  <body>
    <div class="container">
      <aside>
        <h2 class="name"><span class="red-raw-highlight"><a href="/">{{ site.author.name }}</a></span></h2>
        <ul>
          <li><a href="mailto:{{ site.author.email }}">Email</a></li>
          <li><a href="http://github.com/{{ site.author.github }}">Github</a></li>
          <li><a href="http://twitter.com/{{ site.author.twitter }}">Twitter</a></li>
        </ul>
      </aside>
      <section class="content">
      {{ content }}
      </section>
    </div>
    {% unless page.title == 'JC' %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
    <script src="/js/main.js"></script>
    {% endunless %}
  </body>
</html>
