---
layout: default
section: writing
---
<section class="story">
  <aside>
    <ul>
      <li>
        <span>Last Edited: {{ page.date | date_to_long_string }}</span>
      </li>
      <li>
        <span>Words: {{ page.content | number_of_words }}</span>
      </li>
      <li><a href="/">Home</a></li>
      <li><a class="scrollTop" href="#">Back to Top</a></li>
    </ul>
  </aside>
  <article>
    <header>
      <h2>{{ page.title }}</h2>
      {% if page.section == "writing" %}
        <p class="details"> Last Edited: {{ page.date | date_to_long_string }}</p>
        <p class="details"> Words: {{ page.content | number_of_words }}</p>
      {% endif %}
    </header>
    {{ content }}
  </article>
</section>
