<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Assemble</title>
  <link rel="shortcut icon" href="{{ assets }}/favicon.ico" />
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="{{ assets }}/css/main.min.css">
  <script src="{{ assets }}/js/mixpanel.js"></script>
</head>
<body>
  {{> body }}
</body>
</html>
