<!DOCTYPE html>
<html lang="en">
{{> head}}
<body>
  {{> body }}
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
  <script>
    if (!window.jQuery) document.write('<script src="/assets/jquery.min.js"><\/script>')
  </script>

  <!-- build:js(.tmp) /assets/main.min.js -->
  <script src="/{{assets}}/main.js"></script>
  <!-- endbuild -->
</body>
</html>
