<!DOCTYPE html>
<html lang="en">
{{> head}}
<body>
  {{> body }}
  <!-- build:js /assets/vendor.min.js -->
  <!-- bower:js -->
  <!-- endbower -->
  <!-- endbuild -->

  <!-- build:js(.tmp) /assets/main.min.js -->
  <script src="/{{assets}}/main.js"></script>
  <!-- endbuild -->
</body>
</html>
