---
layout: default.hbs
---
<div class="container">
  <div class="content">
    <article class="writing">
      <header class="writing__header">
        <h2 class="writing__header__title">{{title}}</h2>

        <div class="writing__meta">
          <div class="writing__meta__read-time">
            <div>{{page.word_count}} words</div>
            <span>{{page.read_time}} minute read</span>
          </div>

          <div class="writing__meta__date">
            <span>Last Edited: {{page.edited}}</span>
          </div>
        </div>
      </header>

      <div class="writing__content">
        {{#markdown}}
          {{> body }}
        {{/markdown}}
      </div>
    </article>
  </div>
</div>

        <!-- <a class="scrollTop" href="#">Back to Top</a> -->
