@font-face {
  font-family: "Gotham-Light";
  src: url('/assets/gotham_light-webfont.eot');
  src: url('/assets/gotham_light-webfont.eot?#iefix') format('embedded-opentype'),
       url('/assets/gotham_light-webfont.woff') format('woff'),
       url('/assets/gotham_light-webfont.ttf') format('truetype'),
       url('/assets/gotham_light-webfont.svg#gothamlight') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: "ProximaNova-Light";
  src: url('/assets/proximanova-light-webfont.eot');
  src: url('/assets/proximanova-light-webfont.eot?#iefix') format('embedded-opentype'),
       url('/assets/proximanova-light-webfont.woff') format('woff'),
       url('/assets/proximanova-light-webfont.ttf') format('truetype'),
       url('/assets/proximanova-light-webfont.svg#proxima_novalight') format('svg');
  font-weight: normal;
  font-style: normal;
}
