@mixin hidden-s {
  @include media(max-width 480px) {
    display: none;
  }
}

@mixin visible-s($attribute: block) {
  @include media(max-width 480px) {
    display: $attribute;
  }
}

@mixin hidden-m {
  @include media(min-width 481px) {
    display: none;
  }
}

@mixin visible-m($attribute: block) {
  @include media(min-width 481px) {
    display: $attribute;
  }
}

@mixin hidden-l {
  @include media(min-width 721px) {
    display: none;
  }
}

@mixin visible-l($attribute: block) {
  @include media(min-width 721px) {
    display: $attribute;
  }
}

@mixin hidden-xl {
  @include media(min-width 961px) {
    display: none;
  }
}

@mixin visible-xl($attribute: block) {
  @include media(min-width 961px) {
    display: $attribute;
  }
}
