
$base-font-family: "ProximaNova-Light", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$base-font-weight: 300;
$base-font-size: 14px;
$base-line-height: 1.1;

$base-h1-font-size: 3em;
$base-h2-font-size: ($base-h1-font-size / 1.285);
$base-h3-font-size: ($base-h2-font-size / 1.385);
$base-h4-font-size: ($base-h3-font-size / 1.185);

$base-p-font-size: 1.25em;
$base-p-line-height: ($base-line-height * 1.4);

$primary-color: #000;
$secondary-color: #ddd;
$accent-color: #3e54fa;

$footer-text-color: #fff;
$footer-bg-color: $accent-color;
$footer-margin: 4em 0 0 0;
$footer-row-margin-bottom: 2em;
$footer-padding: 2em 0;

$home-title-margins: 4em 0;
$story-title-margins: 0 0 4em 0;
$work-row-margins: 0 0 2em 0;
