@import "utilities/variables";
@import "utilities/reset";
@import "utilities/font";

body {
  font: $base-font-weight $base-font-size $base-font-family;
  color: $primary-color;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 100;
}

a {
  border-bottom: 3px solid $accent-color;
  color: $accent-color;
  text-decoration: none;

  &:hover {
    color: #fff;
    background-color: $accent-color;
  }
}

.container {
  padding: ($base-spacing-unit / 2) ($base-spacing-unit / 2);

  @media screen and (min-width: $big-break-point) {
    padding: $base-spacing-unit ($base-spacing-unit * 2);
  }
}
