.sticky-nav {
  background-color: #fff;
  left: 0;
  position: fixed;
  text-align: center;
  top: -100px;
  transition: top 450ms ease-out;
  width: 100%;

  &.is-sticky {
    top: 0;
  }
}

.sticky-nav__top {
  display: none;

  @media screen and (min-width: $bigger-break-point) {
    display: block;
    position: absolute;
    right: ($base-spacing-unit / 2);
    top: 1em;
  }
}
