.writing {
  margin: 0 auto;

  @media screen and (min-width: $big-break-point) {
    max-width: 95%;
  }

  @media screen and (min-width: $bigger-break-point) {
    max-width: 75%;
  }
}

.writing__header {
  margin-bottom: $base-spacing-unit / 2;
}

.writing__header__title {
  margin: 0;
}

.writing__meta {
  color: $secondary-color;
  font-size: 85%;
  font-weight: 100;
  margin-top: $base-spacing-unit / 4;
  overflow-y: hidden;
}

.writing__meta__date,
.writing__meta__read-time {
  float: left;
  width: 50%;
}

.writing__meta__date {
  text-align: right
}

.writing__content {
  font-family: $base-font-family--reading;

  hr {
    background-color: $accent-color;
    border: 0;
    height: 3px;
    margin: ($base-spacing-unit / 2) auto;
    width: $base-spacing-unit;
  }

  &:first-letter {
    color: $accent-color;
    float: left;
    font-size: 425%;
    line-height: .8;
    padding-right: 8px;
    padding-top: 2px;
  }
}
